.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: ff;
  line-height: 64px;
  background-color: #fff;
}

.code-box-shape {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.leaflet-container {
  width: 100%;
  height: 600px;
}

.ant-layout-content {
  background-color: #fff;
}

.ant-layout-footer {
  background-color: #fff;
}
